.advantage-card {
    background-color: #5e3c95; /* Un fondo más claro para las tarjetas */
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.advantage-card:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el cursor */
}

.advantage-card h4 {
    margin-top: 15px; /* Espacio entre el ícono y el título */
}